<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sitecore.demo.retail.sourceFolder" value="C:\Projects\Sitecore.Demo.Retail\src" />
    <sites>
      <site name="storefront" patch:before="site[@name='habitat']">
        <patch:attribute name="targetHostName">storefront.$(rootHostName)</patch:attribute>
        <patch:attribute name="hostName">storefront</patch:attribute>
      </site>
    </sites>
    <settings>
      <setting name="Storefront.EnforceHTTPS">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Counters.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>
