<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commerceEngineConfiguration type="Sitecore.Commerce.Engine.Connect.CommerceEngineConfiguration, Sitecore.Commerce.Engine.Connect">
      <serviceUrl>http://habitat.commerceengine.dev.local:5000/api/</serviceUrl>
      <environment>HabitatAuthoring</environment>
      <shopName>Storefront</shopName>
    </commerceEngineConfiguration>
  </sitecore>
</configuration>