<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  Used to specify the default Sources for list, install and update.
  -->
  <packageSources>
    <add key="Sitecore v2" value="https://sitecore.myget.org/F/sc-packages/" />
    <add key="Sitecore v3" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
    <add key="Commerce" value="http://nuget1ca2/nuget/Commerce" />
    <add key="Tools" value="http://nuget1ca2/nuget/Tools" />
    <add key="External" value="http://nuget1ca2/nuget/External" />
    <add key="8.2" value="http://nuget1ca2/nuget/8.2.x_master" />
    <add key="8.2.1" value="http://nuget1ca2/nuget/8.2.1_master" />
    <add key="Microsoft and .NET" value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/" />
    <add key="nugetV2.org" value="https://www.nuget.org/api/v2/" />
    <add key="nugetV3.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <activePackageSource>
    <!-- this tells that all of them are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
