<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Retail" description="Retail Demo Content" dependencies="Foundation.Serialization,Foundation.Commerce,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Feature.Brochure,Project.Common.Website" patch:after="configuration[@name='Foundation.Serialization']">
                    <targetDataStore physicalRootPath="$(sitecore.demo.retail.sourceFolder)\project\retail\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Sitecore.Demo.Retail.Templates" database="master" path="/sitecore/templates/Project/Retail" />

                        <include name="Sitecore.Demo.Retail.Layouts" database="master" path="/sitecore/layout/layouts/Project/Retail" />

                        <!--// STOREFRONT -->
                        <include name="Storefront.Content" database="master" path="/sitecore/content/storefront" />
                        <include name="Storefront.Media" database="master" path="/sitecore/media library/storefront" />
                        <include name="Storefront.CommerceLayoutBlank" database="master" path="/sitecore/layout/Layouts/Commerce Layout Blank" />
                        <include name="Storefront.StorefrontLayout" database="master" path="/sitecore/layout/Layouts/Storefront Layout" />
                        <include name="Storefront.StorefrontPrintLayout" database="master" path="/sitecore/layout/Layouts/Storefront Print Layout" />
                        <include name="Storefront.DefaultCatalog" database="master" path="/sitecore/Commerce/Catalog Management/Catalogs">
                            <exclude children="true" />
                        </include>
                        <include name="Sitecore.Demo.Retail.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Retail Persona"/>
                        <include name="Sitecore.Demo.Retail.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Retail"/>
                      <!--  
            <include name="Sitecore.Demo.Retail.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Retail"/>
            <include name="Sitecore.Demo.Retail.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Retail"/>
            <include name="Sitecore.Demo.Retail.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Retail"/>
            <include name="Sitecore.Demo.Retail.CampaignGroup" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign group/Retail"/>
            <include name="Sitecore.Demo.Retail.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Retail"/>
            <include name="Sitecore.Demo.Retail.Lists" database="master" path="/sitecore/system/List Manager/All Lists/Retail"/>
            <include name="Sitecore.Demo.Retail.Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/Retail"/>
            <include name="Sitecore.Demo.Retail.Social.Applications" database="master" path="/sitecore/system/Social/Applications/Default/Retail"/>
            <include name="Sitecore.Demo.Retail.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Default/Retail"/>

            <include name="Sitecore.Demo.Retail.WFFM" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Retail"/>
            <include name="Sitecore.Demo.Retail.Workflow" database="master" path="/sitecore/system/Workflows/Retail"/>
            <include name="Sitecore.Demo.Retail.Workflow.RetailWorkflow" database="master" path="/sitecore/system/Workflows/Retail Workflow"/>
            <include name="Sitecore.Demo.Retail.WFFMUserTemplates" database="core" path="/sitecore/templates/Project/Retail"/>
            <include name="Sitecore.Demo.Retail.WFFMUserSecurityProfile" database="core" path="/sitecore/system/Settings/Security/Profiles/Retail"/>
            <include name="Sitecore.Demo.Retail.Alias" database="master" path="/sitecore/system/Aliases/Retail"/>
-->
                    </predicate>
                    <!--
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sitecore.demo.retail.sourceFolder)\project\retail\serialization\Sitecore.Demo.Retail.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="retail" pattern="^Project Retail .*$" />
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sitecore.demo.retail.sourceFolder)\project\retail\serialization\Sitecore.Demo.Retail.Users" singleInstance="true"/>
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="retail" pattern="^((?!Anonymous).)*$" />
          </userPredicate>
-->
                    <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
                </configuration>

            </configurations>
        </unicorn>
    </sitecore>
</configuration>