<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="Media.DefaultImageBackgroundColor">
                <patch:attribute name="value">White</patch:attribute>
            </setting>
        </settings>
        <pipelines>
            <!-- Runs when languages change using the LanguageSelector view -->
            <language.changeLanguage>
                <processor type="Sitecore.Project.Commerce.Retail.Website.Infrastructure.Pipelines.RaiseCommerceCultureChosenPageEvent, Sitecore.Project.Commerce.Retail.Website" resolve="true"/>
            </language.changeLanguage>
            <metadata.getPageMetadata>
                <processor type="Sitecore.Project.Commerce.Retail.Website.Infrastructure.Pipelines.SetProductCatalogMetadata, Sitecore.Project.Commerce.Retail.Website" resolve="true"  patch:after="processor[@type='Sitecore.Feature.Metadata.Infrastructure.Pipelines.GetPageMetadata.SetFromPage, Sitecore.Feature.Metadata']"/>
            </metadata.getPageMetadata>
        </pipelines>
        <domainManager>
            <domains>
                <domain id="retail" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
                    <param desc="name">$(id)</param>
                    <ensureAnonymousUser>false</ensureAnonymousUser>
                </domain>
            </domains>
        </domainManager>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="storefront">storefront</site>
                    </sites>
                </handler>
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="storefront">storefront</site>
                    </sites>
                </handler>
            </event>
        </events>
        <sites>
            <site name="storefront" patch:after="site[@name='modules_website']"
                  targetHostName="retail.$(rootHostName)"
                  hostName="retail|storefront"
                  database="web"
                  commerceShopName="storefront"
                  virtualFolder="/"
                  physicalFolder="/"
                  rootPath="/sitecore/content/storefront"
                  startItem="/Home"
                  dictionaryPath="/sitecore/content/storefront/global/dictionary"
                  dictionaryAutoCreate="false"
                  placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/Retail"
                  mailTemplatesRoot="/sitecore/content/Storefront/Global/Mails"
                  domain="CommerceUsers"
                  allowDebug="true"
                  cacheHtml="true"
                  htmlCacheSize="50MB"
                  registryCacheSize="0"
                  viewStateCacheSize="0"
                  xslCacheSize="25MB"
                  filteredItemsCacheSize="10MB"
                  enablePreview="true"
                  enableWebEdit="true"
                  enableDebugger="true"
                  disableClientData="false"
                  cacheRenderingParameters="true"
                  renderingParametersCacheSize="10MB"
                  formsRoot="/sitecore/system/Modules/Web Forms for Marketers/Retail"
                  loginPage="/login"
                  enableItemLanguageFallback="true" />
        </sites>
        <commerceEngineConfiguration type="Sitecore.Commerce.Engine.Connect.CommerceEngineConfiguration, Sitecore.Commerce.Engine.Connect">
            <shopName>storefront</shopName>
        </commerceEngineConfiguration>
        <cacheSizes>
            <sites>
                <storefront>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </storefront>
            </sites>
        </cacheSizes>
    </sitecore>
</configuration>