<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Sitecore.Demo.Retail.Project.Website" description="Retail Demo Content" dependencies="Foundation.Serialization,Foundation.Commerce,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Feature.Brochure,Project.Common.Website" patch:after="configuration[@name='Foundation.Serialization']">
                    <targetDataStore physicalRootPath="$(sitecore.demo.retail.sourceFolder)\project\retail\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Templates" database="master" path="/sitecore/templates/Project/Retail" />

                        <include name="Content" database="master" path="/sitecore/content/storefront" />
                        <include name="Media" database="master" path="/sitecore/media library/Retail" />

                        <include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/Retail" />
                        <include name="Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Project/Retail"/>
                        <include name="WFFM" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Retail"/>
                        <include name="Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Retail Persona"/>
                        <include name="Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Retail"/>
                        <include name="Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Retail"/>
                        <include name="Alias" database="master" path="/sitecore/system/Aliases/Retail"/>
                        <include name="Themes" database="master" path="/sitecore/system/Settings/Project/Themes/Retail"/>
                        <include name="Commerce.TestLab" database="master" path="/sitecore/system/Marketing Control Panel/Test Lab" />

                        <include name="Commerce.Catalogs" database="master" path="/sitecore/Commerce/Catalog Management/Catalogs">
                            <exclude children="true" />
                        </include>
                        <include name="Commerce.ProductLayout" database="master" path="/sitecore/templates/Commerce/Catalog/Commerce Product/__Standard Values" />
                        <include name="Commerce.StorefrontSettings" database="master" path="/sitecore/Commerce/Commerce Control Panel/Storefront Settings/Storefronts/Storefront" />

                        <include name="Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/Retail" />
                        <include name="Social.Applications" database="master" path="/sitecore/system/Social/Applications/Retail" />

                        <include name="xGeneratorPresets" database="core" path="/sitecore/client/Applications/ExperienceGenerator/Common/Presets/storefront" />

                        <!--  
                        <include name="Sitecore.Demo.Retail.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Retail"/>
                        <include name="Sitecore.Demo.Retail.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Retail"/>
                        <include name="Sitecore.Demo.Retail.Lists" database="master" path="/sitecore/system/List Manager/All Lists/Retail"/>
                        <include name="Sitecore.Demo.Retail.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Default/Retail"/>

                        <include name="Sitecore.Demo.Retail.WFFM" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Retail"/>
                        <include name="Sitecore.Demo.Retail.Workflow" database="master" path="/sitecore/system/Workflows/Retail"/>
                        <include name="Sitecore.Demo.Retail.Workflow.RetailWorkflow" database="master" path="/sitecore/system/Workflows/Retail Workflow"/>
                        <include name="Sitecore.Demo.Retail.WFFMUserTemplates" database="core" path="/sitecore/templates/Project/Retail"/>
                        <include name="Sitecore.Demo.Retail.WFFMUserSecurityProfile" database="core" path="/sitecore/system/Settings/Security/Profiles/Retail"/>
                        <include name="Sitecore.Demo.Retail.Alias" database="master" path="/sitecore/system/Aliases/Retail"/>
                        -->
                    </predicate>
                    <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sitecore.demo.retail.sourceFolder)\project\retail\users" singleInstance="true" />
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="CommerceUsers" pattern="^((?!Anonymous).)*$" />
                        <include domain="sitecore" pattern="CommerceEngineUser" />
                        <include domain="sitecore" pattern="demoadmin" />
                    </userPredicate>
                    <userSyncConfiguration removeOrphans="true" defaultPassword="demopass" minPasswordLength="1" type="Unicorn.Users.Loader.DefaultUserSyncConfiguration, Unicorn.Users" singleInstance="true" />
                    <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />                   
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>