@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@
@using Sitecore.Feature.Commerce.Catalog.Models
@model MultipleProductSearchResultsViewModel
@{
    if (Model == null || Model.ProductSearchResults == null || !Model.ProductSearchResults.Any())
    {
        return;
    }

    Func<ProductSearchResultViewModel, string> getId = product => product.DisplayName.Replace(' ', '-').ToLowerInvariant();
}

<ul class="nav nav-tabs nav-justified" role="tablist">
    @{
        foreach (var productSearchResult in Model.ProductSearchResults)
        {
            var active = Model.ProductSearchResults.IndexOf(productSearchResult) == 0;
            <li role="presentation" class=@(active ? "active" : "")>
                <a href="#tab-@getId(productSearchResult)" role="tab" data-toggle="tab">
                    @productSearchResult.NamedSearchItemDisplayNameRender
                </a>
            </li>
        }
    }
</ul>
<div class="tab-content">
    @{
        foreach (var productSearchResult in Model.ProductSearchResults)
        {
            var active = Model.ProductSearchResults.IndexOf(productSearchResult) == 0;
            <div role="tabpanel" class="tab-pane @(active ? "active" : "")" id="tab-@getId(productSearchResult)">
                @Html.Partial("_FourProductSlide", productSearchResult)
            </div>
        }
    }
</div>
