@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@

@model Sitecore.Demo.Retail.Feature.Catalog.Website.Models.RelationshipViewModel
@using System.Linq;
@{
    if (Model?.ChildProducts == null || !Model.ChildProducts.Any())
    {
        return;
    }
    var slides = (Model.ChildProducts.Count < 4 && Model.ChildProducts.Count > 1 ? Model.ChildProducts.Count : 4);
}

<!-- Wrapper for slides -->
<div class="owl-carousel" data-options='{"items": @slides, "navigation": true, "navigationText": ["<", ">"], "autoPlay": false}'>
    @{
        foreach (var product in Model.ChildProducts)
        {
            @Html.Partial("_ProductSummary", product)
        }
    }
</div>