<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <pipelines>
          <initialize>
              <processor type="Sitecore.Demo.Retail.Feature.Orders.Website.Infrastructure.Pipelines.InitializeRoutes, Sitecore.Demo.Retail.Feature.Orders.Website" resolve="true" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" />
          </initialize>
      </pipelines>

      <commerce.Entities>
          <CartLine type="Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCartLine, Sitecore.Commerce.Connect.CommerceServer">
              <patch:attribute name="type">Sitecore.Demo.Retail.Feature.Orders.Website.Models.CommerceCartLineWithImages, Sitecore.Demo.Retail.Feature.Orders.Website</patch:attribute>
          </CartLine>
      </commerce.Entities>
      
  </sitecore>
</configuration>