@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Commerce
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Commerce.Managers
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    MultilistField linksField = Model.Item.Fields["QuickLinks"];
    var links = linksField != null ? linksField.GetItems() : new Item[0];

    var myAccountAlt = Model.Item["My Account Alt"];
}
<nav id="B05-TopBarLinks" class="quicklinks">
    <ul>
        @{
            var displayPipe = false;

            if (Request.IsAuthenticated)
            {
                <li>
                    <a class="quicklink-space" id="UserNameLink" href="@("/accountmanagement")" class="username" title="@myAccountAlt">@Sitecore.Context.User.LocalName</a>
                </li>

                displayPipe = true;
            }

            for (var i = 0; i < links.Length; i++)
            {
                var link = links[i];

                CheckboxField showWhenAuthenticated = link.Fields[StorefrontConstants.KnownFieldNames.ShowWhenAuthenticated];
                CheckboxField showAlways = link.Fields[StorefrontConstants.KnownFieldNames.ShowAlways];

                var show = showAlways.Checked || showWhenAuthenticated.Checked && Request.IsAuthenticated || !showWhenAuthenticated.Checked && !Request.IsAuthenticated;

                if (show)
                {
                    if (displayPipe)
                    {
                        <li class="quicklink-space"> | </li>
                    }
                    else
                    {
                        displayPipe = true;
                    }

                    <li>@Html.Sitecore().Field("Link", link, new {text = Html.Sitecore().Field("Text", link)})</li>
                }
            }
        }
    </ul>
</nav>