<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ReferenceStorefrontCertificates" version="1.0.0" />
  <package id="DeploymentTools" version="1.0.0" />
  <package id="TDSDevIntegration" version="5.5.19" />
  <package id="SitecorePackage" version="8.2.161115" />
  <package id="Sitecore.Commerce.Connect" version="8.3.118" />
  <package id="Sitecore.CommerceServer.Connect" version="8.3.38" />
  <package id="Sitecore.Merchandising.Manager" version="8.2.58" />
  <package id="Adventure.Works.Images" version="1.0.0" />
  <package id="Sitecore.Commerce.Engine.Connect" version="1.0.1512" />
  <package id="Sitecore.Commerce.Engine" version="1.0.1439" />
  <package id="Sitecore.Helix.Images" version="1.0.0" />
</packages>
