<?xml version="1.0"?>
<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="Commerce.MaxNumberOfAddresses" value="10" />
        </settings>
        <services>
            <configurator type="Sitecore.Demo.Retail.Foundation.Commerce.Website.Infrastructure.ServicesConfigurator, Sitecore.Demo.Retail.Foundation.Commerce.Website"/>
        </services>
        <pipelines>
            <mvc.renderRendering>
                <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" resolve="true" type="Sitecore.Demo.Retail.Foundation.Commerce.Website.Infrastructure.SitecorePipelines.ApplyVaryByUrlPath, Sitecore.Demo.Retail.Foundation.Commerce.Website" />
                <!-- Keep this one last as it appends to the current cache key. -->
                <processor patch:after="processor[@type='Sitecore.Demo.Retail.Foundation.Commerce.Website.Infrastructure.SitecorePipelines.ApplyVaryByUrlPath, Sitecore.Demo.Retail.Foundation.Commerce.Website']" resolve="true" type="Sitecore.Demo.Retail.Foundation.Commerce.Website.Infrastructure.SitecorePipelines.VaryByCurrency, Sitecore.Demo.Retail.Foundation.Commerce.Website" />
            </mvc.renderRendering>
            <mvc.getPageRendering>
                <processor patch:after="*[@type='Sitecore.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Sitecore.Foundation.Assets']" type="Sitecore.Demo.Retail.Foundation.Commerce.Website.Infrastructure.SitecorePipelines.AddCommerceAssets, Sitecore.Demo.Retail.Foundation.Commerce.Website"/>
            </mvc.getPageRendering>
            <ensureSessionContext>
                <processor patch:after="processor[@type='Sitecore.Analytics.Pipelines.EnsureSessionContext.CreateContact, Sitecore.Analytics']" resolve="true" type="Sitecore.Demo.Retail.Foundation.Commerce.Website.Infrastructure.SitecorePipelines.ResetContact, Sitecore.Demo.Retail.Foundation.Commerce.Website" />
            </ensureSessionContext>
            <commerce.orders.getAvailableCountries>
                <processor type="Sitecore.Demo.Retail.Foundation.Commerce.Website.Infrastructure.Connect.Pipelines.Orders.GetAvailableCountries, Sitecore.Demo.Retail.Foundation.Commerce.Website" resolve="true"/>
            </commerce.orders.getAvailableCountries>
            <commerce.orders.getAvailableRegions>
                <processor type="Sitecore.Demo.Retail.Foundation.Commerce.Website.Infrastructure.Connect.Pipelines.Orders.GetAvailableRegions, Sitecore.Demo.Retail.Foundation.Commerce.Website" resolve="true"/>
            </commerce.orders.getAvailableRegions>
            <accounts.loggedIn>
                <processor type="Sitecore.Demo.Retail.Foundation.Commerce.Website.Infrastructure.Pipelines.LoggedIn.SetCommerceUser, Sitecore.Demo.Retail.Foundation.Commerce.Website" resolve="true"/>
                <processor type="Sitecore.Demo.Retail.Foundation.Commerce.Website.Infrastructure.Pipelines.LoggedIn.MergeCarts, Sitecore.Demo.Retail.Foundation.Commerce.Website" resolve="true"/>
            </accounts.loggedIn>
        </pipelines>
    </sitecore>
</configuration>