<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <sc.variable name="sitecore.demo.retail.sourceFolder" value="C:\Projects\Sitecore.Demo.Retail\src" />
        <sites>
            <site name="storefront" patch:before="site[@name='habitat']">
                <patch:attribute name="database">master</patch:attribute>
                <patch:attribute name="cacheHtml">false</patch:attribute>
            </site>
        </sites>
        <settings>
            <setting name="Counters.Enabled">
                <patch:attribute name="value">false</patch:attribute>
            </setting>
        </settings>
        <contentSearch>
            <indexConfigurations>
                <indexUpdateStrategies>
                    <selectedCatalogsIntervalAsyncWeb>
                        <param desc="interval">00:00:00</param>
                    </selectedCatalogsIntervalAsyncWeb>
                    <allCatalogsIntervalAsyncWeb>
                        <param desc="interval">00:00:00</param>
                    </allCatalogsIntervalAsyncWeb>
                </indexUpdateStrategies>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>