<?xml version="1.0"?>

<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commerceServer>
            <types>
                <type name="ISiteContext" type="Sitecore.Foundation.Commerce.Models.SiteContext, Sitecore.Foundation.Commerce" lifetime="Singleton" />
                <type name="CartCacheHelper" type="Sitecore.Foundation.Commerce.Util.CartCacheHelper, Sitecore.Foundation.Commerce" lifetime="Singleton" />
            </types>
        </commerceServer>

        <pipelines>
            <httpRequestBegin>
                <!-- This processor sets the context item to the product that is matched to incoming URL parameters. -->
                <processor type="Sitecore.Foundation.Commerce.Infrastructure.SitecorePipelines.ProductItemResolver, Sitecore.Foundation.Commerce" patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
                <processor type="Sitecore.Foundation.Commerce.Infrastructure.SitecorePipelines.SecuredPageProcessor, Sitecore.Foundation.Commerce" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
            </httpRequestBegin>

            <startTracking>
                <processor patch:before="processor[@type='Sitecore.ExperienceExplorer.Business.Pipelines.StartTracking.JourneyPipeline, Sitecore.ExperienceExplorer.Business']" type="Sitecore.Foundation.Commerce.Infrastructure.SitecorePipelines.ExcludeUrlTracking, Sitecore.Foundation.Commerce" />
            </startTracking>

            <mvc.renderRendering>
                <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" type="Sitecore.Foundation.Commerce.Infrastructure.SitecorePipelines.ApplyVaryByUrlPath, Sitecore.Foundation.Commerce" />
                <!-- Keep this one last as it appends to the current cache key. -->
                <processor patch:after="processor[@type='Sitecore.Foundation.Commerce.Infrastructure.SitecorePipelines.ApplyVaryByUrlPath, Sitecore.Foundation.Commerce']" type="Sitecore.Foundation.Commerce.Infrastructure.SitecorePipelines.VaryByCurrency, Sitecore.Foundation.Commerce" />
            </mvc.renderRendering>

            <ensureSessionContext>
                <processor patch:after="processor[@type='Sitecore.Analytics.Pipelines.EnsureSessionContext.CreateContact, Sitecore.Analytics']" type="Sitecore.Foundation.Commerce.Infrastructure.SitecorePipelines.ResetContact, Sitecore.Foundation.Commerce" />
            </ensureSessionContext>

            <commerce.orders.getAvailableCountries>
                <processor type="Sitecore.Foundation.Commerce.Infrastructure.Connect.Pipelines.Orders.GetAvailableCountries, Sitecore.Foundation.Commerce"/>
            </commerce.orders.getAvailableCountries>

            <commerce.orders.getAvailableRegions>
                <processor type="Sitecore.Foundation.Commerce.Infrastructure.Connect.Pipelines.Orders.GetAvailableRegions, Sitecore.Foundation.Commerce"/>
            </commerce.orders.getAvailableRegions>
        </pipelines>

        <linkManager defaultProvider="sitecore">
            <patch:attribute name="defaultProvider">commerce</patch:attribute>
            <providers>
                <add name="commerce" 
                     includeFriendlyName="true" 
                     useShopLinks="true" 
                     includeCatalog="false" 
                     addAspxExtension="true" 
                     alwaysIncludeServerUrl="false" 
                     encodeNames="true" 
                     languageEmbedding="asNeeded" 
                     languageLocation="filePath" 
                     lowercaseUrls="false" 
                     shortenUrls="true" 
                     useDisplayName="false" 
                     type="Sitecore.Foundation.Commerce.Infrastructure.SitecorePipelines.CatalogLinkProvider, Sitecore.Foundation.Commerce" />
            </providers>
        </linkManager>
    </sitecore>
</configuration>