<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.Commerce" description="Commerce Foundation" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
                    <targetDataStore physicalRootPath="$(sitecore.demo.retail.sourceFolder)\foundation\commerce\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Templates" database="master" path="/sitecore/templates/Foundation/Commerce"/>
                        <include name="Templates.Features" database="master" path="/sitecore/templates/Feature/Commerce">
                            <exclude children="true" />
                        </include>
                        <include name="Renderings.Foundation" database="master" path="/sitecore/layout/renderings/Foundation/Commerce">
                            <exclude children="true" />
                        </include>
                        <include name="Renderings.Features" database="master" path="/sitecore/layout/renderings/Feature/Commerce">
                            <exclude children="true" />
                        </include>
                        <include name="Renderings.Media" database="master" path="/sitecore/media library/Feature/Commerce">
                            <exclude children="true" />
                        </include>

                        <include name="Layout.Caching.VaryByCurrency" database="master" path="/sitecore/templates/System/Layout/Sections/Caching/Caching/VaryByCurrency" />
                        <include name="Layout.Caching.VaryByUrlPath" database="master" path="/sitecore/templates/System/Layout/Sections/Caching/Caching/VaryByUrlPath" />

                        <include name="Commerce.Buckets.ProductColour" database="master" path="/sitecore/system/Settings/Buckets/Facets/Commerce Product Colour" />
                        <include name="Commerce.Buckets.ProductSize" database="master" path="/sitecore/system/Settings/Buckets/Facets/Commerce Product Size" />

                        <include name="Commerce.Settings" database="master" path="/sitecore/Commerce/Settings" />

                        <include name="Commerce.SharedSettings" database="master" path="/sitecore/Commerce/Commerce Control Panel/Shared Settings" />

                        <include name="Commerce.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/CommerceConnect" />

                        <include name="Commerce.DefaultCommerceOpsServiceSettings" database="core" path="/sitecore/client/Commerce/Default Commerce Ops Service Settings"/>
                        <include name="Commerce.DefaultCommerceDataServiceSettings" database="core" path="/sitecore/client/Commerce/Default Commerce Data Service Settings"/>
                        <include name="Commerce.OrderManagerCommerceDataServiceSettings" database="core" path="/sitecore/client/Applications/CustomerOrderManager/Settings/Commerce Data Service Settings"/>
                        <include name="Commerce.DynamicRenderingCommerceDataServiceSettings" database="core" path="/sitecore/client/Commerce/DynamicRendering/CommerceFormPage/PageSettings/Commerce Data Service Settings"/>

                        <include name="Commerce.LaunchPadFix" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/ContentEditing">
                            <exclude children="true" />
                        </include>
                    </predicate>
                    <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>